body {
    background-color: #2b363f;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    color: #fff;
}

/* Sections */
.section__title {
    color: #fce515;
}

.top-button {
    color: #fff;
}

.project__tile {
    padding-top: 110%;
    position: relative;
    cursor: pointer;
}

.project__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: brightness(.6);
}

.project__title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 75%;

    font-size: 1em;
    text-align: center;
}

/* ShowProject */
.close-btn a {
    color: #fff;
    font-size: 3em;
    font-weight: 900;
    line-height: 1rem;
}

.close-btn a:hover {
    text-decoration: none;;
}

.projectShow__image {
    width: 100%;
}

/* Error */

.error {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}